{% extends "base.html" %}
{% load static %}


{% block head %}
<style>
	body { margin: 0; background-image: url("{% static 'textures/skybox.avif' %}"); }
</style>
{% endblock %}


{% block content %}

<div class="container my-5">
  <!-- MDB Card -->
  <div class="card">
    <!-- Card Image -->
    <img src="" class="card-img-top" alt="Team Image"> <!-- Update src with your image path -->
    
    <!-- Card Header (optional) -->
    <div class="card-header">
      <h1 class="card-title text-center mb-0">About Our Team</h1>
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
      <p class="text-justify" style="text-indent: 25px;">
        Meet "Ubunthree," a trio of engineering students hailing 
        from the prestigious Auburn University. As juniors, these talented individuals 
        have embarked on their second Hackathon journey, armed with a passion 
        for problem-solving, great senses of humor, and a shared commitment to shaping the future through ingenuity.
      </p>
    </div>
    
    <!-- Card Footer (optional) -->
    <div class="card-footer text-muted">
      Auburn University
    </div>
  </div>
  <!-- End of MDB Card -->
</div>


  {% endblock %}