{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { 
    margin: 0; 
    background-image: url("{% static 'textures/skybox.avif' %}"); 
    background-size: cover; 
    background-position: center;
  }
  .hero-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
  }
  .hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .hero-section p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .elegant-color-dark {
    background-color: #212529; /* Or any dark shade you prefer */
  }
</style>
{% endblock %}

{% block content %}

<div class="hero-section">
  <div>
    <h1>Welcome to OrbitQuest™</h1>
    <p>Exploring the universe with you.</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <!-- Section One -->
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #343a40; color: white;">
          <!-- Card content -->
          <div class="card-body text-justify">
            <h2 class="card-title">ISS Tracker</h2>
            <p>Experience real-time monitoring of the ISS as 
              it orbits the Earth in three dimensions.</p>
            <a href="/tracker" class="btn btn-outline-info">Try Now</a>
          </div>
        </div>
      </div>
  
      <!-- Section Two -->
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #343a40; color: white;">
          <!-- Card content -->
          <div class="card-body text-white">
            <h2 class="card-title">Image of the Day</h2>
            <p>See more of space with NASA's image of the day!</p>
            <a href="/apod" class="btn btn-outline-info">View Image</a>
          </div>
        </div>
      </div>


      <!-- Section Two -->
      <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #343a40; color: white;">
          <!-- Card content -->
          <div class="card-body text-white">
            <h2 class="card-title">About Our Team</h2>
            <p>Learn more about the team behind OrbitQuest™</p>
            <a href="/about" class="btn btn-outline-info">Read More</a>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
