{% extends "base.html" %}
{% load static %}

		
{% block head %}
<style>
	body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("{% static 'textures/skybox.avif' %}");
  background-size: cover; /* Cover the whole body with the image */
}
</style>
{% endblock %}

{% block content %}

<script type="module" src="{% static 'js/main.js' %}"></script>
<div id="three-container"></div>


<div class="card shadow-1-strong"> <!-- Add a shadow for depth -->
	<div class="card-body">
	  <h5 class="card-title">ISS Tracker</h5>
	  <p class="card-text">Track the current position of the International Space Station as it orbits Earth. Below, you can see the country the ISS is currently over.</p>
	  
	  <!-- Country Display Field -->
	  <div id="iss-country-info" class="mt-4"> <!-- Added margin-top for spacing -->
	    <h6 class="card-subtitle text-muted">Current Country:</h6>
	    <p id="iss-current-country" class="font-weight-bold text-primary">Loading country info...</p>
	  </div>

	  <!-- Optionally, you can add a refresh or update button if the country info will be dynamically updated -->
	  <button type="button" class="btn btn-primary btn-sm" id="change-view-btn">Change View</button>
	</div>
</div>


{% endblock %}